Flask==0.10.1
Flask-RESTful==0.2.12
Flask-Script==0.6.7
Flask-Testing==0.4.1
Jinja2==2.7.2
MarkupSafe==0.19
Pygments==1.6
Werkzeug==0.9.4
aniso8601==0.82
configobj==5.0.4
httpie==0.8.0
itsdangerous==0.24
pytz==2014.2
requests==2.2.1
simple-salesforce==0.63.0
six==1.6.1
wsgiref==0.1.2
